body {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 80px;
    margin-top: 80px;
}

h1, h2, h3 {
    color: blue;
    background-color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin-top: 20px;
    border-radius: 20px;
}

h1 {
    font-size: 25px;
    line-height: 32.5px;
    /* how to make skip first for margin top */
}

h2 {
    font-size: 20px;

}

p, ul {
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    padding: 10px;
    background-color: #1a3225;
}

section h3, section ul {
    color: #cfe2d8;
    background-color: #1a322500;
}

section h2 {
    background-color: beige;

    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    width: fit-content;

    color: #1a3225;
    font-weight: 600;
}

section ul {
    padding-left: 20px;
}